.main-content {
  flex-grow: 1;
  .title{
    .heading {
      padding-bottom: 5px;
    }
    span {
      color: #0154AA
    }
  }
}

.welcome-section {
  .title {
    padding-bottom: 20px;
  }
}

.search-filters {
  display: flex;
  align-items: center;
  padding: 20px 0;
  width: 100%;
}

.search-wrap {
  flex-grow: 1
}

.similar-filters {
  display: flex;
  align-items: baseline;
  margin-bottom: 8px;
  p {
    margin-right: 15px;
  }
}

/* .job-section {} */

.card-main-title {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 15px 0;
}